DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=
TECHNICIAN_IDS=
RAILWAY_PROJECT_TOKEN=
REGISTER_COMMANDS_ON_BOOT=false
EXPIRED_VC_CHECK_INTERVAL_MS=60000
ENABLE_SCHEDULES=true
ENABLE_EXPIRED_VC_CHECKER=true
MYSQL_CONNECTION_LIMIT=5
MYSQL_SLOW_ACQUIRE_LOG_MS=1000
BOT_HEALTH_CHECK_INTERVAL_MS=15000
BOT_HEALTH_ACK_TIMEOUT_MS=30000
BOT_HEALTH_HANDLER_TIMEOUT_MS=45000
BOT_HEALTH_GATEWAY_DISCONNECT_TIMEOUT_MS=300000
BOT_HEALTH_MAX_CONSECUTIVE_ACK_FAILURES=3
ROULETTE_EVENT_KEY=2026-07-17
ROULETTE_2ND_PANEL_CHANNEL_ID=
ROULETTE_3RD_PANEL_CHANNEL_ID=
